<%= turbo_stream.update "new_token_display" do %>
  <div class="mt-6 p-4 bg-green-50 border-2 border-green-600 rounded-lg" data-controller="clipboard">
    <p class="font-bold text-green-800">Token created successfully!</p>
    <p class="mt-2 text-sm text-green-700">
      Copy this token now. You won't be able to see it again.
    </p>
    <div class="mt-3 flex items-center gap-2">
      <code class="flex-1 font-mono text-sm bg-white p-3 border-2 border-black rounded break-all"
            data-clipboard-target="source">
        <%= @show_token %>
      </code>
      <button type="button"
              class="nb-btn nb-btn--yellow whitespace-nowrap"
              data-action="click->clipboard#copy"
              data-clipboard-target="button">
        Copy
      </button>
    </div>
  </div>
<% end %>

<%= turbo_stream.prepend "api_tokens_list" do %>
  <%= render @api_token %>
<% end %>

<%= turbo_stream.remove "no_tokens_message" %>
